<div *ngIf="itemViewModel$ | async as IItemState">
  <div *ngIf="IItemState" class="mt-2 ml-1">
    @for(item of IItemState.itemsSticky; track $index) {
    <div class="btn-group btn-group-sm mt-1  ml-0">
      @for(e of item; track $index) {
      @if(e.type === ITEM_STICKY_ENUM.DO_DIEN_TU && $index === 0) {
      <button class="btn btn-secondary" style="cursor: default;">
        <strong>Danh mục điện tử:</strong>
      </button>
      }

      @if(e.type === ITEM_STICKY_ENUM.DO_GIA_DUNG && $index === 0) {
      <button class="btn btn-secondary" style="cursor: default;">
        <strong>Danh mục gia dụng:</strong>
      </button>
      }

      @if(e.type === ITEM_STICKY_ENUM.DO_GIA_DUNG_CHILD && $index === 0) {
      <button class="btn btn-secondary" style="cursor: default;">
        <strong>Danh mục gia dụng con:</strong>
      </button>
      }

      @if(e.type === ITEM_STICKY_ENUM.GIA && $index === 0) {
      <button class="btn btn-secondary" style="cursor: default;">
        <strong>Giá:</strong>
      </button>
      }

      @if(e.type === ITEM_STICKY_ENUM.STATUS && $index === 0) {
        <button class="btn btn-secondary" style="cursor: default;">
          <strong>Trạng thái:</strong>
        </button>
        }
      <button (click)="removeItem(e)"
              type="button"
              class="btn btn-primary waves-effect waves-themed">
        {{ e.itemDisplayText }} <i class="ml-1 fal fa-trash"></i>
      </button>
      }
    </div>
    }
  </div>
</div>
