<ng-template #content let-modal>
  <div class="modal-body py-0 pl-0 pr-0 panel" style="min-height: 1200px;">
    <div class="panel-container show">
      <div class="panel-content p-0">
        <div class="row">
          <div class="col-12">
            <div class="bg-primary-50">
              <div class="container-xl pt-3">
                <div class="d-flex align-items-center gap-10 fs-lg">
                  <button type="button" class="btn btn-sm btn-outline-primary btn-icon waves-effect waves-themed"
                          data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true"><i class="fal fa-arrow-left"></i></span>
                  </button>
                  <app-modal-header></app-modal-header>
                </div>
                <!-- BEGIN TAB NAME -->
                <ul class="nav nav-tabs nav-tabs-clean border-0 mt-3" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" (click)="changeTab(this.MODAL_ROUTING.tongQuatTab.root)"
                       [ngClass]="{ 'active': activeTab === this.MODAL_ROUTING.tongQuatTab.root }" data-toggle="tab"
                       href="#{{this.MODAL_ROUTING.tongQuatTab.root}}" role="tab">
                      Tổng quát
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" (click)="changeTab(this.MODAL_ROUTING.thongTinChungTab.root)"
                       [ngClass]="{ 'active': activeTab === this.MODAL_ROUTING.thongTinChungTab.root }"
                       data-toggle="tab"
                       href="#{{this.MODAL_ROUTING.thongTinChungTab.root}}" role="tab">
                      Thông tin chung</a>
                  </li>

                  <li class="nav-item"><a class="nav-link" (click)="changeTab(this.MODAL_ROUTING.bienTheTab.root)"
                       [ngClass]="{ 'active': activeTab === this.MODAL_ROUTING.bienTheTab.root }" data-toggle="tab"
                       href="#{{this.MODAL_ROUTING.bienTheTab.root}}" role="tab">Các biến thể</a></li>

                  <li class="nav-item"><a class="nav-link" (click)="changeTab(this.MODAL_ROUTING.hinhAnhSeoTab.root)"
                       [ngClass]="{ 'active': activeTab === this.MODAL_ROUTING.hinhAnhSeoTab.root }" data-toggle="tab"
                       href="#{{this.MODAL_ROUTING.hinhAnhSeoTab.root}}" role="tab">
                      Hình ảnh và SEO</a></li>

                  <li class="nav-item"><a class="nav-link" (click)="changeTab(this.MODAL_ROUTING.logActivitiesTab.root)"
                       [ngClass]="{ 'active': activeTab === this.MODAL_ROUTING.logActivitiesTab.root}" data-toggle="tab"
                       href="#{{this.MODAL_ROUTING.logActivitiesTab.root}}" role="tab">Log
                      Activities</a></li>
                </ul>

                <!-- END TAB NAME -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- BEGIN BODY TAB  -->
            <div class="tab-content p-3">
              <div class="tab-pane fade"
                   [ngClass]="{ 'show active': activeTab === this.MODAL_ROUTING.tongQuatTab.root }"
                   [id]="this.MODAL_ROUTING.tongQuatTab.root" role="tabpanel"
                   [attr.aria-labelledby]="this.MODAL_ROUTING.tongQuatTab.root">

               <app-tong-quat/>
              </div>
              <div class="tab-pane fade"
                   [ngClass]="{ 'show active': activeTab === this.MODAL_ROUTING.thongTinChungTab.root }"
                   [id]="this.MODAL_ROUTING.thongTinChungTab.root" role="tabpanel"
                   [attr.aria-labelledby]="this.MODAL_ROUTING.thongTinChungTab.root">
                <app-thong-tin-chung></app-thong-tin-chung>
              </div>

              <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === this.MODAL_ROUTING.bienTheTab.root }"
                   [id]="this.MODAL_ROUTING.bienTheTab.root" role="tabpanel"
                   [attr.aria-labelledby]="this.MODAL_ROUTING.bienTheTab.root">
              </div>

              <div class="tab-pane fade"
                   [ngClass]="{ 'show active': activeTab === this.MODAL_ROUTING.hinhAnhSeoTab.root }"
                   [id]="this.MODAL_ROUTING.hinhAnhSeoTab.root" role="tabpanel"
                   [attr.aria-labelledby]="this.MODAL_ROUTING.hinhAnhSeoTab.root">
              </div>

              <div class="tab-pane fade"
                   [ngClass]="{ 'show active': activeTab === this.MODAL_ROUTING.logActivitiesTab.root }"
                   [id]="this.MODAL_ROUTING.logActivitiesTab.root" role="tabpanel"
                   [attr.aria-labelledby]="this.MODAL_ROUTING.logActivitiesTab.root">
                Trang Log Activities
              </div>

            </div>
            <!-- END BODY TAB  -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div> -->
</ng-template>
